@font-face {
  src: url('fonts/RoslindaleVariable-VF-Testing.woff2') format("woff2"),
       url('fonts/RoslindaleVariable-VF-Testing.woff') format("woff");
  font-family: 'Roslindale Variable';
  font-style: normal;
  font-weight: bold;
}

@font-face {
  src: url('fonts/RoslindaleVariable-VF[Display]-Testing.woff2') format("woff2"),
       url('fonts/RoslindaleVariable-VF[Display]-Testing.woff') format("woff");
  font-family: 'Roslindale Variable Display';
  font-style: normal;
  font-weight: bold;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedExtraLight-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedExtraLight-Testing.woff') format("woff");
  font-family: 'Roslindale Display Condensed Extra Light';
  font-style: normal;
  font-weight: 200;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedExtraLightItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedExtraLightItalic-Testing.woff') format("woff");
  font-family: 'Roslindale Display Condensed Extra Light Italic';
  font-style: italic;
  font-weight: 200;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedLight-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedLight-Testing.woff') format("woff");
  font-family: 'Roslindale Display Condensed Light';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedLightItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedLightItalic-Testing.woff') format("woff");
  font-family: 'Roslindale Display Condensed Light Italic';
  font-style: italic;
  font-weight: 300;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedRegular-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedRegular-Testing.woff') format("woff");
  font-family: 'Roslindale Display Condensed';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedItalic-Testing.woff') format("woff");
  font-family: 'Roslindale Display Condensed Italic';
  font-style: italic;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedMedium-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedMedium-Testing.woff') format("woff");
  font-family: 'Roslindale Display Condensed Medium';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedMediumItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedMediumItalic-Testing.woff') format("woff");
  font-family: 'Roslindale Display Condensed Medium Italic';
  font-style: italic;
  font-weight: 500;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedSemiBold-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedSemiBold-Testing.woff') format("woff");
  font-family: 'Roslindale Display Condensed Semi Bold';
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedSemiBoldItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedSemiBoldItalic-Testing.woff') format("woff");
  font-family: 'Roslindale Display Condensed Semi Bold Italic';
  font-style: italic;
  font-weight: 600;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedBold-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedBold-Testing.woff') format("woff");
  font-family: 'Roslindale Display Condensed Bold';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedBoldItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedBoldItalic-Testing.woff') format("woff");
  font-family: 'Roslindale Display Condensed Bold Italic';
  font-style: italic;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedBlack-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedBlack-Testing.woff') format("woff");
  font-family: 'Roslindale Display Condensed Black';
  font-style: normal;
  font-weight: 800;
}

@font-face {
  src: url('fonts/Roslindale-DisplayCondensedUltra-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayCondensedUltra-Testing.woff') format("woff");
  font-family: 'Roslindale Display Condensed Ultra Black';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DisplayNarrowExtraLight-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayNarrowExtraLight-Testing.woff') format("woff");
  font-family: 'Roslindale Display Narrow Extra Light';
  font-style: normal;
  font-weight: 200;
}

@font-face {
  src: url('fonts/Roslindale-DisplayNarrowLight-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayNarrowLight-Testing.woff') format("woff");
  font-family:  'Roslindale Display Narrow Light';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: url('fonts/Roslindale-DisplayNarrowRegular-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayNarrowRegular-Testing.woff') format("woff");
  font-family: 'Roslindale Display Narrow';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DisplayNarrowMedium-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayNarrowMedium-Testing.woff') format("woff");
  font-family: 'Roslindale Display Narrow Medium';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url('fonts/Roslindale-DisplayNarrowSemiBold-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayNarrowSemiBold-Testing.woff') format("woff");
  font-family: 'Roslindale Display Narrow Semi Bold';
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url('fonts/Roslindale-DisplayNarrowBold-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayNarrowBold-Testing.woff') format("woff");
  font-family: 'Roslindale Display Narrow Bold';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DisplayNarrowBlack-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayNarrowBlack-Testing.woff') format("woff");
  font-family: 'Roslindale Display Narrow Black';
  font-style: normal;
  font-weight: 800;
}

@font-face {
  src: url('fonts/Roslindale-DisplayNarrowUltra-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayNarrowUltra-Testing.woff') format("woff");
  font-family: 'Roslindale Display Narrow Ultra Black';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DisplayExtraLight-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayExtraLight-Testing.woff') format("woff");
  font-family: 'Roslindale Display Extra Light';
  font-style: normal;
  font-weight: 200;
}

@font-face {
  src: url('fonts/Roslindale-DisplayLight-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayLight-Testing.woff') format("woff");
  font-family: 'Roslindale Display Light';
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: url('fonts/Roslindale-DisplayRegular-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayRegular-Testing.woff') format("woff");
  font-family: 'Roslindale Display';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DisplayMedium-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayMedium-Testing.woff') format("woff");
  font-family: 'Roslindale Display Medium';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url('fonts/Roslindale-DisplaySemiBold-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplaySemiBold-Testing.woff') format("woff");
  font-family: 'Roslindale Display Semi Bold';
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url('fonts/Roslindale-DisplayBold-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayBold-Testing.woff') format("woff");
  font-family: 'Roslindale Display Bold';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DisplayBlack-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayBlack-Testing.woff') format("woff");
  font-family: 'Roslindale Display Black';
  font-style: normal;
  font-weight: 800;
}

@font-face {
  src: url('fonts/Roslindale-DisplayUltra-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DisplayUltra-Testing.woff') format("woff");
  font-family: 'Roslindale Display Ultra Black';
  font-style: normal;
  font-weight: 900;
}

@font-face {
  src: url('fonts/Roslindale-DeckNarrowRegular-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DeckNarrowRegular-Testing.woff') format("woff");
  font-family: 'Roslindale Narrow';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DeckNarrowItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DeckNarrowItalic-Testing.woff') format("woff");
  font-family: 'Roslindale Narrow Italic';
  font-style: italic;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DeckNarrowMedium-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DeckNarrowMedium-Testing.woff') format("woff");
  font-family: 'Roslindale Narrow Medium';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url('fonts/Roslindale-DeckNarrowMediumItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DeckNarrowMediumItalic-Testing.woff') format("woff");
  font-family: 'Roslindale Narrow Medium Italic';
  font-style: italic;
  font-weight: 500;
}

@font-face {
  src: url('fonts/Roslindale-DeckNarrowSemiBold-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DeckNarrowSemiBold-Testing.woff') format("woff");
  font-family: 'Roslindale Narrow Semi Bold';
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url('fonts/Roslindale-DeckNarrowSemiBoldItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DeckNarrowSemiBoldItalic-Testing.woff') format("woff");
  font-family: 'Roslindale Narrow Semi Bold Italic';
  font-style: italic;
  font-weight: 600;
}

@font-face {
  src: url('fonts/Roslindale-DeckNarrowBold-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DeckNarrowBold-Testing.woff') format("woff");
  font-family: 'Roslindale Narrow Bold';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-DeckNarrowBoldItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-DeckNarrowBoldItalic-Testing.woff') format("woff");
  font-family: 'Roslindale Narrow Bold Italic';
  font-style: italic;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-TextRegular-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-TextRegular-Testing.woff') format("woff");
  font-family: 'Roslindale';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-TextItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-TextItalic-Testing.woff') format("woff");
  font-family: 'Roslindale Italic';
  font-style: italic;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-TextMedium-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-TextMedium-Testing.woff') format("woff");
  font-family: 'Roslindale Medium';
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url('fonts/Roslindale-TextMediumItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-TextMediumItalic-Testing.woff') format("woff");
  font-family: 'Roslindale Medium Italic';
  font-style: italic;
  font-weight: 500;
}

@font-face {
  src: url('fonts/Roslindale-TextSemiBold-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-TextSemiBold-Testing.woff') format("woff");
  font-family: 'Roslindale Semi Bold';
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url('fonts/Roslindale-TextSemiBoldItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-TextSemiBoldItalic-Testing.woff') format("woff");
  font-family: 'Roslindale Semi Bold Italic';
  font-style: italic;
  font-weight: 600;
}

@font-face {
  src: url('fonts/Roslindale-TextBold-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-TextBold-Testing.woff') format("woff");
  font-family: 'Roslindale Bold';
  font-style: normal;
  font-weight: normal;
}

@font-face {
  src: url('fonts/Roslindale-TextBoldItalic-Testing.woff2') format("woff2"),
       url('fonts/Roslindale-TextBoldItalic-Testing.woff') format("woff");
  font-family: 'Roslindale Bold Italic';
  font-style: italic;
  font-weight: normal;
}

