@import url('https://fonts.googleapis.com/css2?family=Nova+Script&display=swap');
$grey: #9A9A9A;
$grey: #ffffff;
$grey2: #ff506a;

$tomato: #f56053;
$lemon: #F5FF7F;
$seafoam: #C6FAC8;
$seafoam: #c4e4d8;

$desktop-columns-10: repeat(10, 1fr);

@mixin cursive {
  font-family: Apple Chancery, cursive;
  font-weight: normal;
}

@mixin mono {
  font-family: Andale Mono, Courier New, monospace;
}